<div class="side-bar">
    <div class="side-main">
       
            <div class="line">
                <li>
                <a   a [routerLink]="['/mutipurpose']">Mutipurpose</a>
                </li>
            </div>
         
            <div class="line">
                <li>
                    <a  a [routerLink]="['/out-team']"> Our-Team</a>
                   
                </li>
            </div>
           
            <div class="line">
                <li>
                    <a  a [routerLink]="['/design-skills']">  Design-Skills</a>
                    
                </li>
            </div>
        
            <div class="line">
                <li>
                    <a  a [routerLink]="['/contact']">  Contact</a>
                   
                </li>
            </div>
            
            <div class="line">
                <li>
                    <a  a [routerLink]="['/reservation']"> Reservation</a>

                  
                </li>
            </div>
          
            <div class="line">
                <li>
                    Anything
                </li>
            </div>
     
    </div>
</div>
