.forget{
    width: 32%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.span_error{
    color: red;
}
input{
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
    border: 1px solid white;
    border-radius: 20px;
    height: 57px;
}
.button{
    background-color:    #009ef7;
    color: white;
    font-size: 24px;
    ;
}