<div class="form-wrapper container mt-5 forget shadow-lg p-1 mb-5 bg-white rounded p-5 pb-5">
    <div class="text-center">
        <h2 >
            Forgot Password ?
        </h2>
        <span  style="font-size: 25px; font-weight: 600; color: grey;">
            Enter your email to reset your password.
        </span>
    </div>
    <form class="form mt-4" [formGroup]="userForm">

        <div class="form-group"
            [ngClass]="{ 'form-invalid': !userForm.get('email')?.valid && userForm.get('email')?.touched }">
            <label style="font-size: 22px; font-weight: 500;">Email</label>
            <input type="text" required formControlName="email" class="form-control" name="email" />
            <span class="span_error"
                *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched && userForm.get('email')?.errors?.required">
                Email is required
            </span>
            <span class="span_error"
                *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched && userForm.get('email')?.errors?.email">
                Please enter a valid email
            </span>
        </div>
        <br>
        
        <div class="form-group mt-3 text-center">
            <button class="btn button" type="submit">Submit</button> 
            <button class="btn button mx-2">cancel</button>

        </div>
    </form>
</div>